@media (max-width: 600px) {
  .back {
    margin-top: 20%;
  }
}

@media (min-width: 650px) {
  .back {
    margin-top: 30%;
  }
}

@media (min-width: 900px) {
  .back {
    margin-top: 30%;
  }
}

@media (min-width: 1200px) {
  .back {
    margin-top: 20%;
  }
}

@media (min-width: 1600px) {
  .back {
    margin-top: 10%;
  }
}


body {
  background-image: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/gplaypattern.png');
  background-repeat: repeat;
  font-family: Georgia;
  font-size: 150%
}

blockquote {
  font-family: "Philosopher", sans-serif;
  font-size: 150%;
  color: #FFFFFF;
  padding: 5% 0% 10% 0%;
}

blockquote:before {
    display: block;
    content: "\201C";
    font-size: 500px;
    opacity: 0.5;
    position: absolute;
    left: 10%;
    top: -150px;
    color: #7a7a7a;
}

.row-centered {
  text-align:center;
}

.col-centered {
  display:inline-block;
  float:none;
  text-align:left;
  margin-right: -2px;
}

#main {
  border: 1px solid black;
  background-color: #000000;
}

#quote {
  float: right;
  margin: 0% 5% 5% 0%;
}

#twitter img {
  height: 10%;
  width: 10%;
}

#creator {
  font-family: 'Bad Script', cursive;
  text-align: center;
}

#logo {
  height: 10%;
  width: 10%;
  margin-top: -3%;
}

#notice {
  font-size: 50%;
  float: right;
  margin-top: 5%;
}

#notice a:link {
  color: #484848;
}

#notice a:hover {
  color: #888888;
}

#notice a:visited {
  color: #D0D0D0;
}

#forismatic {
  margin-bottom: -2%;
}
