@media (max-width: 600px) {
  #back {
    margin-top: 20%;
  }
}

@media (min-width: 650px) {
  #back {
    margin-top: 30%;
  }
}

@media (min-width: 900px) {
  #back {
    margin-top: 30%;
  }
}

@media (min-width: 1200px) {
  #back {
    margin-top: 20%;
  }
}

@media (min-width: 1600px) {
  #back {
    margin-top: 10%;
  }
}



html {
  background-color: #F0F0F0;
  font-family: Georgia;
  font-size: 150%
}

body {
  background-color: #F0F0F0;
}

blockquote {
  font-family: "Philosopher", sans-serif;
  font-size: 150%;
  color: #FFFFFF;
  padding: 5% 0% 10% 0%;
}

.row-centered {
  text-align:center;
}

.col-centered {
  display:inline-block;
  float:none;
  text-align:left;
  margin-right: -2px;
}

#back {
  background-color: #F0F0F0;
}

#main {
  border: 1px solid black;
  background-color: #000000;
}

#quote {
  float: right;
  margin: 0% 5% 5% 0%;
}

#twitter img {
  height: 10%;
  width: 10%;
}

#creator {
  font-family: 'Bad Script', cursive;
  text-align: center;
}

#logo {
  height: 10%;
  width: 10%;
  margin-top: -3%;
}
